:root {
    --color-white: #fff;
    --color-blue: #4aa0de;
    --color-blue-hover: #14a1e4;
    --color-black: #100f0d;
    --color-ghost-white: #f8f7ff;
}

$white: var(--color-white);
$blue: var(--color-blue);
$blue-hover: var(--color-blue-hover);
$mainText: var(--color-black);
$secondBg: var(--color-ghost-white);

$animation: ease-in-out 0.25s;
