::selection {
    background: $blue;
    color: $white;
}

.title {
    h3 {
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        @media (width < ($md2 + px)) {
            font-size: 24px;
            line-height: 28px;
        }
    }
}
