.advantages {
    // .advantages__title
    margin: 0 0 96px;
    @media (width < ($md3 + px)) {
        margin: 0 0 64px;
    }
    &__title {
        text-align: center;
        margin: 0 0 48px;
        @media (width < ($md3 + px)) {
            margin: 0 0 32px;
        }
    }

    // .advantages__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    // .advantages__list-item

    &__list-item {
    }
}
.title {
}
.advantages-item {
    text-align: center;
    flex: 0 1 300px;

    margin: 0 0 48px;
    // .advantages-item__icon
    @media (width < ($md3 + px)) {
        flex: 0 1 170px;
        margin: 0 0 24px;
    }
    &__icon {
        background-color: $secondBg;
        display: inline-block;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(74, 160, 222, 0.2);
        @media (width < ($md3 + px)) {
            width: 48px;
            height: 48px;
            padding: 9px;
        }
        img {
            position: relative;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
        }
    }

    // .advantages-item__text

    &__text {
        p {
            @media (width < ($md3 + px)) {
                font-size: 12px;
            }
        }
    }
}
