.footer-top {
    padding: 72px 0 0;

    // .footer-top__form
    display: flex;
    justify-content: space-between;

    @media (width < ($md2 + px)) {
        padding: 32px 0 0;
    }
    @media (width < ($md3 + px)) {
        padding: 32px 32px 0;
        flex-direction: column;
    }
}
.footer-top {
    // .footer-top__form
    margin: 0 0 68px;
    @media (width < ($md3 + px)) {
        margin: 0 0 54px;
    }
}
.title {
}
.button {
    float: right;
    @media (width < ($md2 + px)) {
        display: block;
        float: left;
    }
    @media (width < ($md3 + px)) {
        width: 100%;
    }
}

.title {
}
.footer {
    background-color: $secondBg;

    &__block {
    }
    // .footer__info

    &__info {
    }
}
.info {
    // .info__logo
    display: flex;
    flex-direction: column;
    &__logo {
        margin: 0 0 48px;
        @media (width < ($md2 + px)) {
            margin: 0 0 16px;
            max-width: 184px;
        }
    }
}
.contact {
    li {
        display: flex;
        text-align: left;
        align-items: center;
        max-width: 339px;
        margin: 0 0 21px;
        & > * {
            @media (width < ($md3 + px)) {
                font-size: 14px;
            }
        }
        img {
            display: inline-block;

            padding: 0 16px 0 0;
        }
    }
}
.address {
}
.tell {
    a {
        color: #000;
        text-decoration: none;
    }
}
.mail {
    a {
        color: $blue;
    }
}
.footer-bottom {
    // .footer-bottom__left

    margin: 0 0 34px;
    display: flex;
    justify-content: space-between;

    align-items: baseline;
    @media (width < ($md3 + px)) {
        padding: 0 32px;
        margin: 0 0 48px;
        flex-direction: column;
    }
    &__left {
        flex: 0 1 auto;
        @media (width < ($md2 + px)) {
            margin: 0 0 16px;
            flex: 0 1 auto;
            margin: 0 0 8px;
            font-size: 12px;
        }
    }

    // .footer-bottom__center

    &__center {
        @media (width < ($md2 + px)) {
            margin: 0 0 16px;
        }
        @media (width < ($md2 + px)) {
            flex: 0 1 auto;
        }
        a {
            color: $blue;
            @media (width < ($md3 + px)) {
                margin: 0 0 8px;
                font-size: 12px;
            }
        }
    }

    // .footer-bottom__right

    &__right {
        display: flex;
        @media (width < ($md3 + px)) {
            flex-direction: column;
        }
        @media (width < ($md2 + px)) {
            margin: 0 0 16px;
        }
        span {
            padding: 0 8px 0;
            @media (width < ($md2 + px)) {
                padding: 0 2px 0;
            }
            @media (width < ($md3 + px)) {
                margin: 0 0 8px;
                font-size: 12px;
            }
        }
    }
}
