.logistics {
    margin: 0 0 48px;
    display: flex;
    // .logistics__info
    align-items: center;
    justify-content: space-between;
    @media (width < ($md2 + px)) {
        flex-direction: column;

        margin: 0 0 64px;
    }

    &__info {
        flex: 1 1 auto;
        padding: 48px;
        background-color: $secondBg;
        border-radius: 24px 0 0 24px;
        height: 340px;
        @media (width < ($md2 + px)) {
            border-radius: 24px 24px 0 0;

            height: auto;
        }
        @media (width < ($md1 + px)) {
            height: auto;
            flex: 0 1 auto;
        }
    }

    // .logistics__img

    &__img {
        flex: 1 1 auto;
        max-width: 387px;
        background-color: $secondBg;

        @media (width < ($md2 + px)) {
            max-width: 100%;
            width: 100%;
        }
        @media (width > ($md2 + px)) and (width < ($md1 + px)) {
            flex: 1 0 auto;
            max-width: 450px;
            height: 450px;
        }

        img {
            border-radius: 24px;
            width: 100%;
            height: 100%;
        }
    }
}
.info-logistics {
    // .info-logistics__title

    &__title {
        max-width: 641px;
        margin: 0 0 16px;
        h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            @media (width < ($md2 + px)) {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    // .info-logistics__text

    &__text {
        line-height: 22px;
        max-width: 641px;
        p:first-child {
            margin: 0 0 16px;
        }
    }
}
