<section id="about" class="about">
	<div class="about__info info-about">
		<div class="info-about__title title">
			<h3>О компании</h3>
		</div>
		<div class="info-about__text">
			<p><b>VK Smart Service</b> — многопрофильная компания, которая специализируется на оказании широкого спектра
				услуг
				логистического
				сервиса, а также поставках промышленного оборудования
				и&nbspкомплектующих от ведущих российских
				и&nbspиностранных производителей</p>
		</div>
		<a href="#popup-form" class="about__button button">Связаться с нами</a>
	</div>
	<div class="about__img">
		<img src="@img/about.jpg" alt="">

	</div>

</section>