<section class="advantages">
	<div class="advantages__title title">
		<h3>Наши<br>
			преимущества</h3>
	</div>
	<ul class="advantages__list">
		<li class="advantages__list-item advantages-item">
			<div class="advantages-item__icon">
				<img src="@svg/person.svg" alt="">
			</div>
			<div class="advantages-item__text">
				<p>Индивидуальный подход</p>
			</div>

		</li>
		<li class="advantages__list-item advantages-item">
			<div class="advantages-item__icon">
				<img src="@svg/dolar.svg" alt="">
			</div>
			<div class="advantages-item__text">
				<p>Гибкие тарифы</p>
			</div>

		</li>
		<li class="advantages__list-item advantages-item">
			<div class="advantages-item__icon">
				<img src="@svg/Internet.svg" alt="">
			</div>
			<div class="advantages-item__text">
				<p>Широкая сеть поставщиков <br>
					в&nbspКитае</p>
			</div>

		</li>
		<li class="advantages__list-item advantages-item">
			<div class="advantages-item__icon">
				<img src="@svg/world.svg" alt="">
			</div>
			<div class="advantages-item__text">
				<p>Возможность реализации логистических проектов
					за&nbspпределами страны</p>
			</div>

		</li>

		<li class="advantages__list-item advantages-item">
			<div class="advantages-item__icon">
				<img src="@svg/group.svg" alt="">
			</div>
			<div class="advantages-item__text">
				<p>Профессиональная команда
					с&nbspмноголетним опытом работы
					в&nbspпромышленном секторе</p>
			</div>

		</li>
	</ul>

</section>