<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer-top">
                <form class="footer-top__form form">
                    <div class="form__title title">
                        <h3>Напишите нам</h3>
                    </div>
                    <div class="form__subtitle">
                        <p>Заполните форму ниже и мы свяжемся с вами в ближайшее время</p>
                    </div>
                    <input class="form__input" placeholder="Ваше имя" type="name" name="name">
                    <input class="form__input" placeholder="Номер телефона" type="tel" name="tell">
                    <input class="form__checkbox" type="checkbox" id="privacy" name="privacy">
                    <label class="form__privacy" for="privacy">Ознакомился(лась) с <a class="form__privacy-url"
                            href="">политикой
                            конфиденциальности</a> и даю
                        согласие на обработку
                        моих
                        персональных данных.</label>
                    <button class="button" type="submit">Перезвоните мне</button>
                </form>
                <div class="footer__info info">
                    <div class="info__logo">
                        <img src="@svg/Logo-dark.svg" alt="">
                    </div>
                    <ul class="contact">
                        <li class="address"><img src="@svg/geo.svg" alt=""><span>682645, Хабаровский край,
                                г. Амурск, Западное шоссе, 18 офис 1</span>
                        </li>
                        <li class="tell"><img src="@svg/tel.svg" alt=""><a href="tel:+74992322222">+7 (499)
                                232-22-22</a></li>
                        <li class="mail"><img src="@svg/tel.svg" alt=""><a
                                href="mailto:dk@vksmartservice.com">dk@vksmartservice.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__left">
                    © 2024 VK Smart Service
                </div>
                <div class="footer-bottom__center">
                    <a href="">Политика конфиденциальности</a>
                </div>
                <div class="footer-bottom__right">
                    <span>Разработка сайта:</span>
                    <a href=""><img src="@svg/developedby.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>