<div class="popup__block"></div>
<form id="popup-form" class="footer-top__form form popup ">

	<a class="popup__close"><span>X</span></a>
	<div class="form__title title">
		<h3>Напишите нам</h3>
	</div>
	<div class="form__subtitle">
		<p>Заполните форму ниже и мы свяжемся с вами в ближайшее время</p>
	</div>
	<input class="form__input" placeholder="Ваше имя" type="name" name="name">
	<input class="form__input" placeholder="Номер телефона" type="tel" name="tell">
	<input class="form__checkbox" type="checkbox" id="privacy-popup" name="privacy">
	<label class="form__privacy" for="privacy-popup">Ознакомился(лась) с <a
			class="form__privacy-url form__privacy-url-popup" href="">политикой
			конфиденциальности</a> и даю
		согласие на обработку
		моих
		персональных данных.</label>
	<button class="button form__button" type="submit">Перезвоните мне</button>


</form>