<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="logo"><a href=""><img src="@svg/Logo.svg" alt=""></a></div>
            <ul class="nav">
                <li class="nav__link"><a class="nav__link-service" href="#">Услуги и решения</a></li>
                <li class="nav__link"><a class="nav__link-about" href="#">О компании</a></li>
                <li class="nav__link"><a class="nav__link-advantages" href="#">Наши преимущества</a></li>
            </ul>
            <div class="tell-header"><a href="tel:+74992322222">+7 (499) 232-22-22</a></div>
            <div class="language"><a class="language-en" id="en" href="#">EN</a><span>|</span><a class="language-ru"
                    href="#" id="ru">RU</a></div>
        </div>
    </div>
</header>