<section id="logistics" class="logistics">
	<div class="logistics__info info-logistics">
		<div class="info-logistics__title">
			<h3>Закупка, доставка, таможня, организация логистики.</h3>
		</div>
		<div class="info-logistics__text">
			<p>Компания VK Smart Service поможет закупить и доставить ваш груз даже c&nbspсамой&nbspсложной
				логистикой
				из любой части света.</p>
			<p>Обратитесь к экспертам своего дела, которые предоставят вам исчерпывающие консультации, окажут
				качественные услуги и
				предложат надёжные решения
				для&nbspлюбых задач.</p>
		</div>
	</div>
	<div class="logistics__img">
		<img src="@img/twoPerson.jpg" alt="">
	</div>
</section>