<main class="main">
	<div class="container">
		<div class="main__block">

			<div class="main__title">
				<h1>Осуществляем поставку оборудования, запасных частей, запорно-регулирующей арматуры широкого профиля
				</h1>
			</div>
			<div class="main__subtitle">
				<h2>Организуем доставку любых видов грузов</h2>
			</div>
			<div class="main__button"><a href="#" class=" button">Связаться с нами</a></div>
		</div>
		<div class="pulse">
			<span></span>
			<span></span>
			<span></span>
			<a href="#" class="arrow"><img src="@svg/arrow.svg" alt=""></a>
		</div>
	</div>

</main>