<section class="service">
	<div class="service__title title">
		<h3>
			<span>Услуги </span><span>и решения</span>
		</h3>
	</div>
	<div class="service__blocks blocks-service">
		<div class="blocks-service__block blocks-service__block-control">
			<div class="blocks-service__img">
				<img src="@img/control.jpg" alt="">
			</div>
			<div class="blocks-service__icon"><img src="@svg/delivery.svg" alt=""></div>
			<div class="blocks-service__puls">
				<span></span>
				<span></span>
				<span></span>

			</div>

			<div class="blocks-service__title">
				<h4>Управление логистикой</h4>
			</div>
			<div class="blocks-service__text">
				<p>Управляем логистикой, оказываем комплексные таможенно-логистические услуги в формате
					«от&nbspдвери до двери» разными видами транспорта</p>
			</div>
		</div>
		<div class="blocks-service__block blocks-service__block-development">
			<div class="blocks-service__img">
				<img src="@img/development.jpg" alt="">
			</div>
			<div class="blocks-service__puls">
				<span></span>
				<span></span>
				<span></span>

			</div>
			<div class="blocks-service__icon">
				<img src="@svg/development.svg" alt="">
			</div>
			<div class="blocks-service__title">
				<h4>Разработка логистичекских систем</h4>
			</div>
			<div class="blocks-service__text">
				<p>Создаем любые транспортно-логистические схемы по индивидуальному заказу</p>
			</div>
		</div>
		<div class="blocks-service__block blocks-service__block-setting">
			<div class="blocks-service__img">
				<img src="@img/equipment.jpg" alt="">
			</div>
			<div class="blocks-service__icon">
				<img src="@svg/setting.svg" alt="">
			</div>
			<div class="blocks-service__puls">
				<span></span>
				<span></span>
				<span></span>

			</div>
			<div class="blocks-service__title">
				<h4>Поставка оборудования</h4>
			</div>
			<div class="blocks-service__text">
				<p>Организуем закупку и поставку оборудования
					и комплектующих разных брендов
					от&nbspзапорной&nbspрегулирующей арматуры
					и&nbspнасосного оборудования до запасных частей
					к&nbspгидроуплотнениям высокого давления
					и&nbspкислородным компрессорам</p>
			</div>
		</div>
		<div class="blocks-service__block blocks-service__block-consultations">
			<div class="blocks-service__img">
				<img src="@img/consultations.jpg" alt="">
			</div>
			<div class="blocks-service__icon">
				<img src="@svg/consultations.svg" alt="">
			</div>
			<div class="blocks-service__puls">
				<span></span>
				<span></span>
				<span></span>

			</div>
			<div class="blocks-service__title">
				<h4>Консультации</h4>
			</div>
			<div class="blocks-service__text">
				<p>Консультируем в сфере промышленно-производственной логистики. К услугам наших клиентов — богатый
					опыт
					и знания в сфере
					логистики</p>
			</div>
		</div>
	</div>
</section>